/* Simon Dutton
 * main.css is the CSS file for the styles of the 
 * Amazon sign-in website.
*/

/* body */
body {
    font-family: "Arial", serif; 
}

/* flexbox container */
.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin:-28px; /* remove whitespace at top of page*/
}

/* flexbox items */
.flexbox-item {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:36vw;
    align-self:center;
    padding:0;
    margin:0;
}

/* Logo container */
#logo {
    justify-self: flex-start;
}

/* Logo image */
#logo img{
    width: 26vw;
}

/* Sign-In container */
#sign-in {
    border: 1px solid rgb(227, 227, 227);
}

/* Sign-In heading (text)*/
#sign-in h1{
    font-size: 3vw;;
    padding-left: 3vw;
    padding-top: 3vw;
    margin: 0;

    align-self:flex-start;
}

/* Email label */
#email {
    font-size: 1.3vw;
    text-align: start;
}

/* Email input box */
#input-email {
    margin-bottom:0;
    font-size:1.5vw;
    width:30vw;
    height:4vw;
}

/* Email and password labels */
.form-label {
    /* less margin and padding */
    margin:0;
    padding-top: 0;
}

/* Email and password inputs */
.form-control {
    margin:auto;
    padding:.5vw; /* height */
}

/* Links */
a {
    text-decoration: none;
    color:rgb(57, 128, 235);
}

/* container for text for label above password input */
.password-text {
    font-size: 1.3vw;
}

/* text for label above password input */
.form-label span {
    line-height:1vw;
}

/* password label */
#pass-id {
    display: inline-block;
    line-height: 1em;
    vertical-align:left;
    padding-right: 10vw;
}

/* forgot password link */
#forgot-pass-id { /* could've done a grid instead */
    display: inline-block;
    line-height: 1em;
    vertical-align:right;
}

/* password input */
#password__pass {
    font-size:2vw;
    width:30vw;
    height:4vw;
}

/* All buttons */
button {
    /* center button in container */
    display:block; 
    margin: auto;
    text-align: center;
    width:30vw;
    height:4vw;
}

/* Sign-in button */
#btn-submit {
    background-color:rgb(245, 204, 109);
    background-image: var(--bs-gradient);
    margin-top:2vw;
    margin-bottom:0vw;
    padding:0vw;
    font-size: 1.7vw;
    border: .7px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0)
}

/* Conditions of use text */
#conditions-of-use {
    font-size: 1.28vw;
    padding-top: 1vw;
    padding-left: 3vw;
    padding-right:3vw;
    text-align:left;
    line-height: 2.5vw;
    margin:0;
    
}

/* "Keep Me Signed In" Checkbox container*/
.form-check {
    align-self:flex-start;
    justify-self: center;
    
    display:flex;
    align-items:center;
    margin-left:3vw;
    height:4vw;
    width:30vw;
}

/* checkbox item */
#keep-signed-in-input { 
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    width: 1vw;
    height: 1vw;
    vertical-align: middle;
    background-color: rgb(232, 232, 232);
    border:.5px solid grey;
}

/* when checkbox is checked */
#keep-signed-in-input:checked {
    background-color:rgb(0, 0, 0);
}

/* label next to checkbox */
.form-check-label {
    font-size: 1.7vw;
    margin-left:0;
    padding-left:4px;
}

/* new to amazon divider class */
.new-to-amazon {
    line-height:1vw;
    align-self:center;
    color: rgb(123, 125, 138);
}

/* lines next to "New To Amazon?" */
.new-to-amazon hr{
    display:inline-block;
    width:8vw;
    height:.05vw;
}

/* "New To Amazon?" text */
.new-to-amazon p{
    display:inline-block;
    width:14vw;
    font-size:1.2vw;
    text-align:center;
    margin-bottom:0px;
    padding: 0px;
}

/* create account button */
#btn-create-account {
    background-color: rgb(240, 241, 241);
    border: .6px solid rgb(63, 63, 63);
    color:rgb(49, 49, 49);
    font-size: 1.7vw;
    margin-top: 1.3vw;
    margin-bottom: 5vw;
    text-align:center;
    padding:0;
}
